
### Project Configuration ###
.gradle
**/src/main/resources/application-local-main.yml
**/src/test/resources/application-local-test.yml

### Git action workflow ###
scouter/*
!scouter/agent.java/
scouter/agent.java/plugin
build/*
!build/libs/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
