
### Project Configuration ###
.gradle

### Git action workflow ###
scouter/*
!scouter/agent.java/
scouter/agent.java/plugin
build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
